.badge{
    padding: 4px 10px;
    border-radius: 20px;
    margin: 0;
    text-align: center;
    /* font-style: italic; */
}


.badge-pending{
    border: 1px solid #ffc2c2;
    background-color: #ff2a2a;
    color: #fff;
    font-size: 12px;
}

.badge-resolved{
    border: 1px solid rgb(180, 255, 180);
    background-color: #148600;
    color: white;
    font-size: 12px;
}

.badge-reopened{
    border: 1px solid #c7e3ff;
    background-color: #0080ff;
    color: #fff;
    font-size: 12px;
}

.badge-bug{
    border: 1px solid orangered;
    background-color: rgb(255, 194, 194);
    color: orangered;
    font-size: 12px;
}

.badge-fix{
    border: 1px solid blueviolet;
    background-color: rgb(208, 194, 255);
    color: blueviolet;
    font-size: 12px;
}

.badge-ques{
    border: 1px solid #ff9100;
    background-color: rgb(255, 244, 215);
    color: #ff9100;
    font-size: 12px;
}

.badge-dup{
    border: 1px solid #078c00;
    background-color: rgb(216, 255, 215);
    color: #078c00;
    font-size: 12px;
}